* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    left: -25px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003b59;
    color: white
}

.box {
    width: 770px;
    padding: 10px;
    background-color: #00658b;
    border-radius: 30px;
    box-shadow: 0 10px 15px #001c30;
}

.box .content-box {
    padding: 13px 20px 0;
    border-radius: 20px;
    border: 1px solid #003b59;
    font-size: 20px;
    letter-spacing: 2px;
    background-color: #fff;
    color: #00658b
}

.box input {
    padding: 13px 20px 0;
    position: absolute;
    opacity: 0;
    z-index: -99;
}

.content-box .content {
    margin-top: 17px;
    display: flex;
    padding: 12px 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #003b59;
}

.result-details {
    display: flex;
    gap: 20px;
}

.result-details li {
    display: flex;
    height: 20px;
    list-style: none;
    align-items: center;
}

.content button {
    width: 105px;
    outline: none;
    cursor: pointer;
    border: none;
    color: #fff;
    background: #121c2e;
    padding: 8px 0;
    border-radius: 5px;
    font-size: 16px;
    transition: transform 0.3s ease;
}

.content button:hover {
    background: #000000;
}

.content button:active {
    transform: scale(0.97);
}

.typing-text p span {
    position: relative;
}

.typing-text p span.active {
    color: rgb(255, 166, 0);
}

.typing-text p span.correct {
    color: rgb(0, 202, 0);
}

.typing-text p span.incorrect {
    color: red;
    outline: 1px solid white;
    background-color: rgb(252, 103, 103);
    border-radius: 4px;
}

::selection {
    background: #00d9ff;
    color: #fff;
}

.head {
    left: 30%;
    position: relative;
    bottom: 30%;
    font-family: helvetica;
}